<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   TestIpa.plist
   TestIpa

   Created by xzt427 on 2018/8/21.
   Copyright (c) 2018年 xzt427. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://192.168.2.20/test.ipa</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.XXX.XXX</string>
                    <key>bundle-version</key>
                    <string>1.00</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>releaseNotes</key>
                    <string>测试OTA</string>
                    <key>title</key>
                    <string>在线安装测试</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
